.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
}

#canvas-size {
    display: flex;
    justify-content: center;
    margin: 48px;
}

button{
    font-size: 20px;
}

.etch-a-sketch-container {
    margin: 48px;
}

.row {
    display: flex; 
    justify-content: center;
}


.etch-square {
    background-color: aqua;
    display: flex;
    padding: 10px;
}