.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
}

.etch-a-sketch-container {
    margin: 48px;
}

.row {
    display: flex; 
    justify-content: center;
}


.etch-square {
    border: 2px;
    border-color: black;
    margin: 2px;
    background-color: aqua;
    display: flex;
    padding: 10px;
}